<h1>Submit New Article</h1>

<form action="/articles/new" method="post">
    <label for="article_title">Article Title:</label>
  <input type="text" id="article_title" name="article_title">

  <label for="article_url">Article URL:</label>
<input type="text" id="article_url" name="article_url">

<label for="article_description">Article Description:</label>
<input type="text" id="article_description" name="article_description">
  <input type="submit" value='Cow'/>
</form>

<a href="http://localhost:4567/articles">View Articles</a>
