<!DOCTYPE html>
<html lang="en">
  <head>
    <title>News Aggregator</title>
  </head>

  <body>
    <h1>List of Submitted Articles:</h1>


    <ul>
      <% @csvarticles.each do |article| %>

      <li><%= article[0] %></li>
      <li><a href="<%= article[1] %>"><%= article[1] %></a></li>
      <li><%= article[2] %></li><br>

      <% end %>

    </ul>

    <a href="http://localhost:4567/articles/new">Submit New Article</a>
  </body>
</html>
